<div class="row middle-xs app-header">
    <div class="col-xs-3 col-sm-3">
        <button class="navbar-button btn btn--bare float--left" ng-show="backBtnEnabled" ng-click="goBack()">
            <i class="fa fa-chevron-left"></i>
        </button>
    </div>
    <div class="col-xs-5">
        <h2 class="text--center page-title">{{headerTitle}}</h2>
    </div>
    <div class="col-xs-4" >
        <img class="logo-brand pull-right" src="assets/images/logo.png">
        <label class="app-name" style="color:white">Smart Field Services Ops</label>

    </div>

</div>