<div class=" list-card list-card--incident-details">
    <div ng-switch="currentStage.state">
        <div ng-switch-when="stage1">
            <div class="row">
                <p class="col-xs-12 col-sm-7 label" style="font-size:24px">{{incident.incidentName}}</p>

                <p class="col-xs-12 col-sm-5 text--right" style="font-size:18px;">
                    <span style="font-weight: 600">Submitted On: </span>
                    <span> {{incident.createdDate | date:'dd MMM yyyy hh:mm'}}</span>
                </p>
            </div>
            <div class="row">
                <div class="col-xs-6" style="padding-left:30px;">
                    <p ng-if="location">
                        <span class="label"> Latitue :</span>
                        <span class="val" n>{{location.lat}}</span>

                    </p>
                </div>
                <div class="col-xs-6">

                    <p ng-if="location">
                        <span class="label">Longitude : </span>
                        <span class="val">{{location.long}}</span>
                    </p>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p style="padding-left:16px;"><span class="label">Status : </span><span class="val">{{incident.incidentStatus}}</span>
                    </p>

                </div>
                <div class="col-xs-12 col-sm-6" style="padding-left:30px;">
                    <div class="details-impact">
                        <p class="label"> Impact </p>
                        <select ng-model="incident.impact">
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="details-urgency">
                        <p class="label">Urgency </p>
                        <select ng-model="incident.urgency">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row sensor-data" ng-if="temp || humidity">
                <div class="col-sm-12">
                    <highchart id="humidity" config="tempChartConfig" class="span10"></highchart>
                </div>

            </div>
            <div class="row">

                <div class="col-xs-12 col-sm-6 checklist" style="padding-left:30px;">
                    <p class="label">Select Observation</p>

                    <div class="incident-checkbox" ng-repeat="item in incident.checkList track by $index">
                        <label class="val">
                            <input type="checkbox" ng-model="check"
                                   ng-change="checkAll(check,item)">
                            {{item.option}}
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" ng-if="recommendations.length">
                    <p class="label">Recommendations</p>

                    <p class="val" ng-repeat="item in recommendations track by $index">{{item.help}}</p>
                </div>
            </div>
            <div class="gradient">

            </div>
        </div>
        <div ng-switch-when="stage2" style="maring-top:20px">
            {{currentStage.title}}
        </div>
        <div ng-switch-when="stage3" style="marin-top:20px">
            {{currentStage.title}}
        </div>

    </div>
    <div class="row incident-footer">
        <div class="col-xs-12 col-sm-6 footer-btn">
            <button class="btn btn--primary" ng-click="saveIncidentDetails()">
                Save Changes
            </button>
        </div>
        <div class="col-xs-12 col-sm-6 footer-btn">
            <button class="btn btn--primary" ng-click="markComplete()">
                Complete Stage
            </button>
        </div>
    </div>


</div>

